*.pyc
__pycache__/
**/__pycache__/
data.csv
default.csv
data/*
!data/userdata.txt
!data/anma.csv
!data/lamu.csv
!data/mica.csv
!data/employees.csv
!data/timesheet.db
.spyproject/config
dist/*
build/*
main.spec
